/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
h1 {
    text-align: center;
    font-size: 24px;
}

h2 {
    margin-top: 30px;
    font-size: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.header {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Button Group Styles */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 5px;
}

/* .grid-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
} */

/* Form Group Styles */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

/* Label Styles */
label {
    font-size: px;
    margin-top: 5px;
}

/* Input, Select, and Button Styles */
input, select, button {
    font-size: 20px;
    padding: 9px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #0056b3;
}

button.active {
    background-color: #4eba2a;
    color: #fff;
}

/* Hidden Elements */
.hidden {
    display: none;
}

/* Text and List Styles */
p, ul {
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Canvas Styles */
#layoutCanvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    max-height: 400px;
}

/* Table Styles */
.details-table, .sequence-table, .score-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.details-table th, .details-table td,
.sequence-table th, .sequence-table td,
.score-table th, .score-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.details-table th, .score-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.details-table tr:nth-child(even),
.sequence-table tr:nth-child(even),
.score-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Sequence Table Styles */
.sequence-table th {
    background-color: #4CAF50;
    color: white;
}

/* Score Table Styles */
.score-table th {
    background-color: #4CAF50;
    color: white;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .sequence-table, .sequence-table th, .sequence-table td,
    .score-table, .score-table th, .score-table td {
        font-size: 14px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .grid-row {
        flex-direction: column;
        gap: 5px;
    }
}

